[defaults]
inventory=inventory
roles_path=roles .galaxy

private_key_file=/root/.ssh/id_rsa
# ansible-doc -t callback -l (https://docs.ansible.com/ansible/latest/plugins/callback.html)
stdout_callback=yaml
# stdout_callback=tree

vault_password_file=built/ansible-key
